.container{
    width: 50%;
    margin:0 auto 0;
    border-style: groove;
    border-color: blue;
    padding: 20px;
}
.header{
    background-color: aqua;
}
header a:hover{
    background-color: aqua;
    color:green;
    
}
h1{
    text-align: center;
}
img{
    width: 30%;
}
.home-content{
    font-size: 20px;
    font-family:sans-serif;
}
button{
    width: 30%;
}