.container{
    width: 100%;
    height: 100%;
    margin:0 auto 0;
    border-style: groove;
    border-color:#4f95b7;
    padding: 20px;
    background-image: url(../images/Lifebook_LH531_06.jpg)
}
.header{
}
header a:hover{
    background-color:aqua;
    color:green;
    
}
h1{
    text-align: center;
}
img{
    width: 30%;
}
.home-content{
    font-size: 20px;
    font-family:sans-serif;
}
button{
    width: 30%;
    height: 40px;
    background-color: forestgreen;
}
.links{
    text-align: right;
}
h2{
    text-align: center;
}
input{
    width: 30%;
    height: 40px;
}
.signup{
    text-align: center;
}
#login{
    text-align: center;
    background-color: aliceblue;
}
