.container{
    width: 50%;
    margin:0 auto 0;
    border-style: groove;
    border-color: blue;
    padding: 20px;
}
.header{
    background-color: aqua;
}
header a:hover{
    background-color: aqua;
    color:green;
}
h1{
    text-align: center;
}
img{
    align:center;
}